/**
 * v1.1
 *20150922 去除不常用样式，并作为基础版本
 */
/************support style****/
/**
 * position
 */
.pv {
  position: relative;
}
.pa {
  position: absolute;
}
/**
 * vertical align
 */
.vm {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.vb {
  vertical-align: bottom;
}
/*边距*/
/**
 font
 */
/* cursor */
.poi {
  cursor: pointer;
}
.def {
  cursor: default;
}
/*overflow*/
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
/* visibility */
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.hide {
  display: none;
}
/**
 * float
 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/**
 * text-align
 */
.txtr {
  text-align: right;
}
.txtc {
  text-align: center;
}
.txtl {
  text-align: left;
}
.clear {
  clear: both;
}
/******** multiple css **************/
.mw {
  max-width: 100%;
  min-width: 1100px;
  *width: 1100px;
}
.bfc {
  overflow: hidden;
  *zoom: 1;
}
.txto {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.center {
  margin-left: auto;
  margin-right: auto;
  *display: inline;
  *zoom: 1;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 清除浮动-1*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
}
/* 清除浮动-2*/
.fix {
  *zoom: 1;
}
.fix:after {
  display: table;
  content: '';
  clear: both;
}
/**
**向下三角
*/
/* css3过渡动画效果 */
.trans {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* 无框文本框文本域 */
.b-none {
  border: 0;
  outline: none;
}
/* 绝对定位隐藏 */
.abs-out {
  position: absolute;
  left: -999em;
  top: -999em;
}
.abs-clip {
  position: absolute;
  clip: rect(0 0 0 0);
}
/* 按钮禁用 */
.disabled {
  color: #acacac !important;
  border-color: #acacac !important;
  text-shadow: 1px 1px #fff !important;
  outline: 0 !important;
  cursor: default !important;
  pointer-events: none;
}
.disabled:hover {
  text-decoration: none !important;
}
/*inline-block与float等宽列表*/
.inline-box {
  font-size: 1em;
  letter-spacing: -0.25em;
}
.inline-fix {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.inline-two,
.inline-three,
.inline-four,
.inline-five,
.inline-six,
.inline-any {
  display: inline-block;
  *display: inline;
  letter-spacing: 0;
  vertical-align: top;
  *zoom: 1;
}
.float-two,
.float-three,
.float-four,
.float-five,
.float-six {
  float: left;
}
.inline-two,
.float-two {
  width: 49.9%;
}
.inline-three,
.float-three {
  width: 33.3%;
}
.inline-four,
.float-four {
  width: 24.9%;
}
.inline-five,
.float-five {
  width: 19.9%;
}
.inline-six,
.float-six {
  width: 16.6%;
}
/**
 * 页面整体布局样式
 */
.main-flow {
  margin-right: calc(100%-100vw);
  position: relative;
  *text-align: center;
}
.main-full {
  margin-right: calc(100%-100vw);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  *text-align: center;
}
.wrap {
  max-width: 100%;
  min-width: 1100px;
  *width: 1100px;
  margin-left: auto;
  margin-right: auto;
  *display: inline;
  *zoom: 1;
}
/**
 *time axis  IE7+
 */
.time-axis {
  padding-top: 20px;
  width: 200px;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  position: relative;
  color: #aeaeae;
}
.time-axis .tl-year {
  padding-top: 0px;
}
.time-axis .time {
  width: 60%;
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-weight: bold;
  cursor: pointer;
}
.time-axis .icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 38px;
  height: 38px;
  vertical-align: -15px;
  cursor: pointer;
  zoom: 1;
}
.time-axis .icon:hover + .toast {
  opacity: 1;
  filter: alpha(opacity=100);
}
.time-axis .toast {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 90%;
  width: 400px;
  border: 1px solid #003385;
  height: 80px;
  border-radius: 6px;
  top: -2px;
  z-index: 999;
}
.time-axis .toast:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed solid  dashed dotted;
  border-color: transparent #003385 transparent transparent;
  vertical-align: bottom;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: 10px;
  left: -20px;
  border-width: 10px;
}
.time-axis .tl-year {
  margin-bottom: 20px;
}
.time-axis .tl-year .time {
  font-size: 18px;
  color: #000000;
}
.time-axis .tl-year .icon {
  height: 38px;
  vertical-align: -12px;
  background-image: url("../images/y-clocks.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.time-axis .tl-month .triangle-down {
  vertical-align: -3px;
}
.time-axis .tl-month .time {
  font-size: 16px;
  color: #000000;
  font-weight: lighter;
}
.time-axis .tl-month .icon {
  background-image: url("../images/m-clocks.png");
  background-repeat: no-repeat;
  background-position: center center;
  _background: none;
}
.time-axis .tl-day .icon {
  background-image: url("../images/points.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  *margin-left: -5px;
}
.time-axis .time-line {
  position: absolute;
  height: 100%;
  top: 0;
  left: 68%;
  border-left: 1px solid #354751;
  z-index: -1;
  *margin-left: -4px;
}
.time-axis .triangle-down {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dotted dashed;
  border-color: #cccccc transparent transparent;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  display: inline-block;
}
.time-axis .rote180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.time-axis .tli {
  position: relative;
  zoom: 1;
}
* + html .time-axis .triangle-left {
  position: absolute;
  top: 10px;
  width: 11px;
  height: 21px;
  left: -10px;
  background-image: url("../images/icon/trangle.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
  background-color: #ff0000;
}
/**
 * 重写select组件  IE7+
 */
.default-reset-select {
  width: 75px;
  position: absolute;
  z-index: 99;
  background-color: #ffffff;
  font-size: 14px;
}
.default-reset-select .thriangle-down {
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: #cccccc transparent transparent;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  display: block;
  float: right;
  cursor: pointer;
  border-width: 6px;
  margin-top: 8px;
  border-style: solid dashed dotted dashed;
}
.default-reset-select .triangle-up {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dotted dashed solid dashed;
  border-color: transparent transparent #cccccc;
  vertical-align: bottom;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.default-reset-select .reset-select-show {
  border: 1px solid #cccccc;
  padding: 1px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
}
.default-reset-select .reset-select-ul {
  border: 1px solid #cccccc;
  border-top: 1px solid transparent;
  display: none;
  background-color: #ffffff;
}
.default-reset-select .reset-select-ul .active {
  background-color: #2193f0;
  color: #ffffff;
}
.default-reset-select .reset-select-li {
  padding: 1px 5px;
  cursor: pointer;
}
.default-reset-select .reset-select-ul:hover {
  outline: 1px solid #7A9CD3;
}
.default-reset-select .reset-select-ul:hover .active {
  background-color: transparent;
  color: #000000;
}
.default-reset-select .reset-select-ul .reset-select-li:hover {
  background-color: #2193f0;
  color: #ffffff;
}
/**
 * 重写radio组件，支持ie9+
 */
.reset-radio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.reset-radio input[type="radio"] {
  opacity: 0;
}
.reset-radio input[type="radio"]:checked + span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
}
/**
 * search component
 */
.search {
  width: 730px;
  font-family: 'Microsoft Yahei';
  color: #7A559A;
  overflow: hidden;
}
.search .search-class .up {
  margin: 0;
  margin-left: 145px;
  padding: 0;
  list-style: none;
}
.search .search-class .up a {
  color: #555555;
  text-decoration: none;
  font-size: 14px;
}
.search .search-class .up .active {
  font-weight: bold;
}
.search .search-class .fsl {
  float: left;
  padding-right: 20px;
}
.search .search-key .fsr-logo {
  width: 140px;
  height: 46px;
  background-image: url("../images/baidu-map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.search .search-key .fsr {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
}
.search .search-key .searchkey {
  width: 460px;
  height: 38px;
  line-height: 38px;
  color: #000;
  font-size: 18px;
}
.search .search-key .fsr-btn {
  width: 100px;
  line-height: 38px;
  *line-height: 38px;
  background-color: #405bcc;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: -5px;
}
/**
 * 蒙版
 */
.mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 99;
}
/**
 * 弹层
 */
.popup-main {
  display: none;
  position: absolute;
  z-index: 999;
  min-width: 600px;
  min-height: 300px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  background-color: #ffffff;
}
/**
 * 分页
 */
.page {
  background-color: #ffffff;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.page .page-index {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #cccccc;
  padding: 6px 10px;
  width: 20px;
  text-align: center;
  margin-left: 5px;
}
.page .page-up,
.page .page-down {
  padding: 6xp 15px;
  width: 60px;
}
.page .cur-index {
  font-weight: bold;
}
/**
 * header 部分
 */
.h-b-head {
  text-align: right;
  padding-right: 2px;
  margin-top: 4px;
  margin-bottom: -5px;
}
.h-b-head .h-b-forward {
  color: #4c73c2;
  font-size: 13px;
  padding-right: 10px;
}
.h-b-head .h-b-forward.active {
  font-weight: bold;
}
.h-b-head .triangle-down {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dotted dashed;
  border-color: #4c73c2 transparent transparent;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
}
.nav .n-banner {
  float: right;
  width: 230px;
  height: 75px;
  background-image: url("../images/map-banner-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
}
.nav .n-search {
  margin-left: 20px;
}
.section .s-container {
  position: absolute;
  width: 100%;
  top: 105px;
  left: 0px;
  bottom: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section .s-navbar {
  color: #999999;
  font-family: 'Microsoft Yahei';
  float: left;
  background-color: #252525;
  width: 60px;
  height: 100%;
  border-top: 1px solid #b5b9c0;
  text-align: center;
  position: relative;
}
.section .s-navbar .fa {
  width: 28px;
  height: 28px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.section .s-navbar .fa-search {
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: -21px -163px;
  _background: none;
}
.section .s-navbar .fa-route {
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: -48px -163px;
  _background: none;
}
.section .s-navbar .fa-subway {
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: 5px -163px;
  _background: none;
}
.section .s-navbar .fa-collect {
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: -75px -163px;
  _background: none;
}
.section .s-navbar .active {
  background-color: #3385ff;
  color: #ffffff;
}
.section .s-navbar .s-navbar-li {
  padding-top: 8px;
  cursor: pointer;
}
.section .s-navbar .s-bar-ul:hover .s-navbar-li {
  background-color: transparent;
  color: #999999;
}
.section .s-navbar .s-bar-ul .s-navbar-li:hover {
  background-color: #3385ff;
  color: #ffffff;
}
.section .s-navbar .s-bar-ul {
  height: 100%;
}
.section .s-navbar .s-bar-txt {
  margin-top: -4px;
}
.section .s-nav-tab {
  width: 350px;
  float: left;
  background-color: #ffffff;
  height: 100%;
  border-top: 1px solid #b5b9c0;
  position: relative;
  border-right: 1px solid #a0a1a3;
}
.section .s-map {
  overflow: hidden;
  *zoom: 1;
  background-color: #90ee90;
  height: 100%;
  border-top: 1px solid #b5b9c0;
}
.section .s-navbar-weather {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section .s-navbar-weather .fa-weather {
  background-image: url("../images/map-weather-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.section .s-hide-bar {
  position: absolute;
  top: 50%;
  left: 409px;
  line-height: 58px;
  width: 15px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #a0a1a3;
  border-left: 1px solid transparent;
  margin-top: -30px;
}
.section .s-hide-bar .s-icon-left {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 5px;
  height: 9px;
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: -109px -167px;
  _background: none;
}
.section .act {
  left: 0;
}
.section .act .s-icon-left {
  background-image: url("../images/map-icon-2.png");
  background-repeat: no-repeat;
  background-position: -139px -167px;
  _background: none;
}
.section .s-search-type {
  padding: 15px 40px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.section .s-search-colle {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 25%;
  font-family: 'Microsoft Yahei';
  font-size: 13px;
}
.section .s-search-colle .fa {
  width: 44px;
  height: 44px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
}
.section .s-search-colle .fa-food {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: 0 -262px;
  _background: none;
}
.section .s-search-colle .fa-hotel {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: 0 -111px;
  _background: none;
}
.section .s-search-colle .fa-movie {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -47px -111px;
  _background: none;
}
.section .s-search-traffic {
  line-height: 55px;
  font-size: 13px;
  font-family: 'Microsoft Yahei';
  padding-left: 20px;
  border-bottom: 1px solid #f2f5f8;
}
.section .s-search-traffic .fa {
  width: 24px;
  height: 24px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-right: 10px;
}
.section .s-search-traffic .fa-traffic-icon {
  background-image: url("../images/map-search-4.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
}
.section .s-search-traffic .fa-rest-icon {
  background-image: url("../images/map-search-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
}
.section .s-search-traffic .fa-service-icon {
  background-image: url("../images/map-search-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
}
.section .s-search-traffic .s-traffic-icon {
  padding-left: 10px;
  cursor: pointer;
}
.section .s-search-baner1 {
  background-image: url("../images/map-banner-2.png");
  background-repeat: no-repeat;
  background-position: 0 -110px;
  _background: none;
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  *display: inline;
  *zoom: 1;
}
.section .s-search-banner2 {
  background-image: url("../images/map-app-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  *display: inline;
  *zoom: 1;
  border-right: 1px solid #ceced0;
}
.section .s-search-banner {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.section .s-search-footer {
  color: #999999;
  font-family: 'Microsoft Yahei';
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}
.section .s-banner2-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 25px;
  font-size: 13px;
  position: absolute;
  border: 1px solid #cccccc;
  padding: 0 5px;
}
.section .btn-android {
  left: 140px;
  top: 105px;
}
.section .btn-iphone {
  left: 220px;
  top: 105px;
}
.section .s-search-forward {
  color: #999999;
  padding: 0 5px;
}
.section .purple {
  color: #a3a9c7;
}
.section .red {
  color: #ea8887;
}
.section .green {
  color: #a2c159;
}
.section .s-tab-route .s-route-li {
  width: 20%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 30px;
  position: relative;
}
.section .s-tab-route .fa {
  width: 15px;
  height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.section .s-tab-route .fa-bus {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: 1px -192px;
  _background: none;
}
.section .s-tab-route .fa-car {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -29px -194px;
  _background: none;
}
.section .s-tab-route .fa-foot {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -102px -190px;
  _background: none;
}
.section .s-tab-route .fa-bike {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -85px -217px;
  _background: none;
}
.section .s-tab-route .active {
  color: #3385ff;
  font-weight: bold;
}
.section .s-tab-route .active .fa-bus {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -14px -192px;
  _background: none;
}
.section .s-tab-route .active .fa-car {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -45px -194px;
  _background: none;
}
.section .s-tab-route .active .fa-foot {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -120px -190px;
  _background: none;
}
.section .s-tab-route .active .fa-bike {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -108px -217px;
  _background: none;
}
.section .s-tab-route .s-route-nav {
  text-align: center;
  font-size: 12px;
  font-family: 'Microsoft Yahei';
  border-bottom: 1px solid #a5c4ff;
}
.section .s-tab-route .s-route-histroy {
  font-size: 13px;
  font-weight: normal;
  border: 1px solid #cccccc;
  margin: 10px;
}
.section .s-tab-route .s-route-histroy .fa {
  width: 20px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url("../images/map-route-1.png");
  background-repeat: no-repeat;
  background-position: 3px 0px;
  _background: none;
}
.section .s-tab-route .s-route-histroy .s-history-li {
  padding-left: 10px;
  padding-top: 5px;
  line-height: 30px;
}
.section .s-tab-route .s-route-histroy .s-h-bottom {
  text-align: right;
  padding-right: 20px;
  color: #B2B2B2;
  cursor: pointer;
}
.section .arrow-up {
  position: absolute;
  border-top: 1px solid #a5c4ff;
  border-left: 1px solid #a5c4ff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 7px;
  height: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -4px;
  background-color: #fff;
  display: none;
}
.section .active .arrow-up {
  display: block;
}
.section .s-route-banner {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 14px;
}
.section .s-route-search {
  border-bottom: 1px solid #cccccc;
}
.section .s-route-search .s-route-exchange {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10%;
  height: 70px;
  line-height: 70px;
  vertical-align: top;
  text-align: center;
}
.section .s-route-search .s-route-exchange .s-r-ex {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 17px;
  height: 14px;
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -38px -224px;
  _background: none;
}
.section .s-route-search .s-route-input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 70%;
}
.section .s-route-search .s-route-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15%;
  height: 70px;
  line-height: 70px;
  vertical-align: top;
  background: #F5F7FA;
  border: 1px solid #f2f2f2;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  color: #999;
}
.section .s-route-search .s-route-btn:hover {
  background-color: #3385ff;
  color: #fff;
}
.section .s-route-search .s-route-i {
  line-height: 35px;
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid #EAEBED;
  font-size: 13px;
  font-weight: normal;
  padding-left: 5px;
  margin-left: 5px;
}
.section .s-route-search .s-route-icon {
  width: 11px;
  height: 11px;
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -44px -210px;
  _background: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.section .s-route-search .icon-red-cicle {
  background-image: url("../images/map-search-1.png");
  background-repeat: no-repeat;
  background-position: -57px -210px;
  _background: none;
}
.section .s-route-search .border-none {
  border: none;
}
.section .s-tab-subway .s-subway-nav {
  border-bottom: 1px solid #a5c4ff;
}
.section .s-tab-subway .fa {
  background-image: url("../images/map-subway-icon-1.png");
  background-repeat: no-repeat;
  background-position: -60px 0;
  _background: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 13px;
  margin-right: 5px;
}
.section .s-tab-subway .fa-station {
  background-image: url("../images/map-subway-icon-1.png");
  background-repeat: no-repeat;
  background-position: -20px 0;
  _background: none;
}
.section .s-tab-subway .active .fa {
  background-image: url("../images/map-subway-icon-1.png");
  background-repeat: no-repeat;
  background-position: -40px 0;
  _background: none;
  font-weight: bold;
}
.section .s-tab-subway .active .fa-station {
  background-image: url("../images/map-subway-icon-1.png");
  background-repeat: no-repeat;
  background-position: 0px 0;
  _background: none;
}
.section .s-tab-subway .active .s-route-search {
  display: block;
}
.section .s-tab-subway .s-subway-station {
  display: none;
}
.section .s-tab-subway .s-subway-station .s-route-i {
  height: 70px;
  line-height: 70px;
  vertical-align: top;
}
.section .s-tab-subway .s-subway-station .s-route-input {
  height: 70px;
  line-height: 70px;
}
.section .s-subway-li {
  width: 45%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.section .s-tab-collect {
  font-size: 13px;
}
.section .s-tab-collect .s-subway-nav {
  font-weight: bold;
}
.section .s-tab-collect .fa {
  width: 16px;
  height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 13px;
  padding-right: 5px;
}
.section .s-tab-collect .fa-route {
  background-image: url("../images/map-collection.png");
  background-repeat: no-repeat;
  background-position: 0 -320px;
  _background: none;
}
.section .s-tab-collect .fa-local {
  background-image: url("../images/map-collection.png");
  background-repeat: no-repeat;
  background-position: 0 -280px;
  _background: none;
}
.section .s-tab-collect .s-subway-nav {
  border-bottom: 1px solid #a5c4ff;
}
.section .s-tab-collect .s-subway-nav .active {
  color: #3385ff;
}
.section .s-tab-collect .s-subway-nav .active .fa-route {
  background-image: url("../images/map-collection.png");
  background-repeat: no-repeat;
  background-position: 0 -300px;
  _background: none;
}
.section .s-tab-collect .s-subway-nav .active .fa-local {
  background-image: url("../images/map-collection.png");
  background-repeat: no-repeat;
  background-position: 0 -260px;
  _background: none;
}
.section .s-tab-collect .s-collect-catalog {
  margin: 10px 5px;
  line-height: 25px;
  text-align: center;
  font-size: 0px;
}
.section .s-tab-collect .s-collect-catalog .s-c-li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30%;
  border: 1px solid #d5d8dc;
  background-color: #f8f9fc;
  font-size: 13px;
  cursor: pointer;
}
.section .s-tab-collect .s-collect-catalog .fa-arrow {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dotted dashed;
  border-color: #cccccc transparent transparent;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  vertical-align: middle;
  margin-left: 10px;
  border-width: 4px;
}
.section .s-tab-collect .s-collect-catalog .edit {
  background-color: #ffffff;
  margin-left: 10px;
}
.section .s-tab-collect .s-collect-catalog .filter {
  border-right: none;
}
.section .s-tab-collect .s-coll-ul-sub {
  font-size: 13px;
  margin-top: 5px;
  margin: 0 10px;
  padding-top: 14px;
}
.section .s-tab-collect .s-coll-ul-sub:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.section .s-tab-collect .s-coll-ul-sub:hover .s-coll-item:last-child {
  visibility: visible;
}
.section .s-tab-collect .s-coll-item {
  color: #999999;
  line-height: 28px;
  padding-left: 30px;
  margin: 0px 5px;
}
.section .s-tab-collect .item-name {
  color: #3366cc;
  background-image: url("../images/map-collection.png");
  background-repeat: no-repeat;
  background-position: 5px -60px;
  _background: none;
  line-height: 22px;
}
.section .s-tab-collect .item-addr {
  color: #666666;
}
.section .page .page-index {
  width: 18px;
  line-height: 16px;
  font-size: 12px;
  padding: 6px 6px;
}
.section .page .page-up,
.section .page .page-down {
  width: 50px;
}
.section #coll-div {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.section .fa-mark {
  background-image: url("../images/map-collection-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  _background: none;
}
.section .fa-del {
  background-image: url("../images/map-collection-icon.png");
  background-repeat: no-repeat;
  background-position: 0 -20px;
  _background: none;
}
.section .fa-rename {
  background-image: url("../images/map-collection-icon.png");
  background-repeat: no-repeat;
  background-position: 0 -40px;
  _background: none;
}
.section .s-coll-item:last-child {
  visibility: hidden;
}
.section .s-collect-list .s-coll-itmes {
  position: absolute;
  bottom: 0px;
  top: 70px;
  width: 100%;
  overflow: hidden;
}
.section .scroll-emulate .scroll-emulate-area {
  margin-right: 15px;
}
.section .scroll-emulate .scroll-bar {
  position: absolute;
  width: 9px;
  right: 4px;
  top: 0px;
  height: 100%;
  background-image: url("../images/scroll-bar.gif");
  background-repeat: no-repeat;
  background-position: 3px 0;
  _background: none;
  cursor: pointer;
}
.section .scroll-emulate .scroll-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40%;
}
.section .scroll-emulate .scroll-bar-up {
  width: 100%;
  height: 95%;
  background-image: url("../images/scroll-bar.gif");
  background-repeat: no-repeat;
  background-position: -12px 50%;
  _background: none;
}
.section .scroll-emulate .scroll-up-point {
  height: 4px;
  background-image: url("../images/scroll-bar.gif");
  background-repeat: no-repeat;
  background-position: -36px 0;
  _background: none;
}
.section .scroll-emulate .scroll-down-point {
  height: 4px;
  background-image: url("../images/scroll-bar.gif");
  background-repeat: no-repeat;
  background-position: -36px -4px;
  _background: none;
}
.section .scroll-emulate:hover .scroll-bar {
  background-image: url("../images/scroll-bar.gif");
  background-repeat: no-repeat;
  background-position: -3px 0;
  _background: none;
}
.section .page {
  padding-bottom: 20px;
}
.popup-main .popup-titile {
  overflow: hidden;
}
.popup-main .pop-close {
  width: 37px;
  height: 37px;
  float: right;
  border: 1px solid #f2f2f2;
  background-image: url("../images/pop-close-icon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  _background: none;
}
.popup-main .pop-close:hover {
  background-image: url("../images/pop-close-active.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  _background: none;
  background-color: #5097d7;
}
