.wrap {
  margin-left: 36px;
}
.section .wrap {
  padding-left: 45px;
  width: 80%;
}
.section .div-section {
  margin-bottom: 20px;
  *margin-bottom: 40px;
}
/**
 * header
 */
.h-b-head {
  text-align: right;
  margin-right: 30px;
  line-height: 30px;
  color: #666666;
}
.h-b-head .h-b-forward {
  font-size: 13px;
  color: #666666;
}
.h-b-head .h-b-forward.active {
  font-weight: bold;
}
.h-b-head .triangle-down {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dotted dashed;
  border-color: #4c73c2 transparent transparent transparent;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.h-b-head .inner-a {
  color: #0084BB;
  font-size: 13px;
  padding-left: 5px;
}
.icon-eng {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 19px;
  height: 13px;
  vertical-align: middle;
  background-image: url("../images/qunar/ico_en.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-arrow-down {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-image: url("../images/qunar/header_new.png");
  background-repeat: no-repeat;
  background-position: -153px -21px;
}
.icon-message {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  background-image: url("../images/qunar/header.png");
  background-repeat: no-repeat;
  background-position: -28px -153px;
}
/**
 * nav
 */
.nav .n-banner {
  float: left;
  width: 136px;
  height: 54px;
  background-image: url("../images/qunar/logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: 40px;
  margin-top: -20px;
}
.nav .n-catalog {
  line-height: 35px;
  font-size: 17px;
  border-bottom: 2px solid #00afc7;
  margin-top: 4px;
}
.nav .fsl {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  color: #3c3c3c;
}
.nav .active a {
  color: #0096C3;
}
.nav .up {
  overflow: hidden;
  *zoom: 1;
}
/**
 * 左边导航
 */
.nav-left-menu {
  z-index: 1;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7c8994;
}
.nav-left-menu .ul-items {
  margin-top: 20px;
}
.nav-left-menu .devide-line {
  border-top: 1px solid #6f7982;
  border-bottom: 1px solid #9ba4ad;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-left-menu .li-item {
  width: 36px;
  text-align: center;
  height: 50px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}
.nav-left-menu .li-item .icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url("../images/qunar/nav-left.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}
.nav-left-menu .nl-close {
  height: auto;
}
.nav-left-menu .nl-close .icon {
  background-position: -36px -96px;
  height: 15px;
  width: 14px;
}
.nav-left-menu .nl-top .icon {
  background-position: 0 -76px;
  height: 15px;
  width: 14px;
}
.nav-left-menu .nl-usr {
  margin-top: 50px;
  height: auto;
  line-height: 40px;
}
.nav-left-menu .nl-usr .icon {
  background-position: 0px 0px;
}
.nav-left-menu .nl-mesg .icon {
  background-position: 0px -16px;
  height: 12px;
}
.nav-left-menu .nl-order .icon {
  background-position: 0px -92px;
  height: 18px;
}
.nav-left-menu .nl-account .icon {
  background-position: 0px -28px;
}
.nav-left-menu .nl-advice {
  margin-top: 80px;
}
.nav-left-menu .nl-advice .icon {
  background-position: 0px -43px;
}
.nav-left-menu .nl-swapcode .icon {
  background-position: 0px -60px;
}
.nav-left-menu .active {
  background-color: #ffffff;
  color: #7c8994;
}
.nav-left-menu .active.nl-close .icon {
  background-position: -36px -96px;
}
.nav-left-menu .active.nl-usr .icon {
  background-position: -18px 0px;
}
.nav-left-menu .active.nl-mesg .icon {
  background-position: -18px -16px;
}
.nav-left-menu .active.nl-order .icon {
  background-position: -18px -92px;
}
.nav-left-menu .active.nl-account .icon {
  background-position: -18px -28px;
}
.nav-left-menu .active.nl-advice .icon {
  background-position: -18px -43px;
}
.nav-left-menu .active.nl-swapcode .icon {
  background-position: -18px -60px;
}
.nav-left-menu .active.nl-top .icon {
  background-position: -18px -76px;
}
.nav-left-menu .nl-toggle .icon {
  background-position: 0px 0px;
}
.tab-pannel {
  overflow: hidden;
  *zoom: 1;
}
.tab-container {
  background-color: #00afc7;
  float: left;
  overflow: hidden;
  *zoom: 1;
  padding: 7px;
}
.tab-container .yc-vertab-titles {
  width: 80px;
  line-height: 45px;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.tab-container .yc-vertab-titles .active {
  background-color: #ffffff;
  background-image: none;
  color: #00B6D8;
}
.tab-container .yc-vertab-title {
  border-bottom: 1px solid #239eb6;
}
.tab-container .yc-vertab-bodys {
  width: 650px;
  height: 290px;
  overflow: hidden;
  *zoom: 1;
  background-color: #00afc7;
  padding-left: 15px;
  background-color: #ffffff;
}
.tab-container .div-vertab-footer {
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  *zoom: 1;
  background-color: #ffffff;
}
.tab-container .li-tabInner-title {
  text-align: right;
  overflow: hidden;
  *zoom: 1;
  font-size: 13px;
  margin-right: 10px;
}
.tab-container .a-t-l {
  color: #999999;
}
.tab-container .icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 20px;
  vertical-align: -5px;
}
.tab-container .i-ticket-q {
  background-image: url("../images/qunar/home_v5.png");
  background-repeat: no-repeat;
  background-position: -282px -28px;
}
.tab-container .i-return-t {
  background-image: url("../images/qunar/home_v5.png");
  background-repeat: no-repeat;
  background-position: -282px -1px;
}
.tab-container .yc-tab-body {
  text-align: left;
  background-color: #f4fbfc;
  line-height: 50px;
  font-size: 13px;
}
.tab-container .div-cont-tt,
.tab-container .div-cont-tto {
  padding-top: 5px;
  padding-left: 32px;
}
.tab-container .div-cont-bd {
  padding-top: 5px;
  font-size: 13px;
  color: #999;
  padding-left: 30px;
  position: relative;
  display: none;
}
.tab-container .div-cont-bd .span-search-btn {
  margin-right: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  color: #ffffff;
  width: 130px;
  line-height: 38px;
  background-color: #ff5722;
  border-radius: 3px;
  font-family: 'Microsoft Yahei';
  text-align: center;
  cursor: pointer;
  margin-right: 100px;
}
.tab-container .div-cont-commom {
  display: block;
}
.tab-container .div-search-btn {
  overflow: hidden;
  *zoom: 1;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tab-container .a-tips {
  float: right;
  color: #1CAFCF;
  padding-right: 10px;
}
.tab-container .input-start-date,
.tab-container .input-start,
.tab-container .input-from,
.tab-container .input-to,
.tab-container .input-start-area,
.tab-container .input-visa,
.tab-container .input-airport,
.tab-container .input-incity,
.tab-container .input-decity,
.tab-container .input-et {
  line-height: 35px;
  height: 35px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 240px;
  *width: 170px;
  margin-left: -38px;
  font-size: 13px;
}
.tab-container .input-from {
  width: 120px;
  margin-left: 0;
  padding-left: 2px;
}
.tab-container .input-visa {
  width: 240px;
}
.tab-container .input-to {
  width: 460px;
  margin-left: 0;
  padding-left: 45px;
}
.tab-container .input-et {
  width: 460px;
  margin-left: 0;
  padding-left: 5px;
}
.tab-container .input-to-1 {
  line-height: 35px;
  height: 35px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 240px;
  *width: 170px;
  font-size: 13px;
  width: 460px;
  margin-left: 0;
  padding-left: 45px;
  margin-left: -38px;
}
.tab-container .input-ticket-station {
  width: 540px;
  margin-left: -38px;
  padding-left: 38px;
}
.tab-container .input-start-area,
.tab-container .input-decity {
  margin-left: 0;
  padding-left: 2px;
}
.tab-container .input-3word {
  margin-left: -51px;
  padding-left: 45px;
}
.tab-container .input-airport {
  margin-left: -51px;
  padding-left: 45px;
}
.tab-container .input-4word {
  margin-left: -64px;
  padding-left: 58px;
}
.tab-container .div-cont-search .span-tip {
  margin-left: -37px;
}
.tab-container .div-cont-search .span-tip-to {
  margin-right: -48px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
.tab-container .div-cont-search .span-search-btn {
  margin-right: 6px;
}
.tab-container .span-tip {
  color: #999999;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
.tab-container .icon-s {
  background-image: url("../images/qunar/calander.png");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  margin-left: -32px;
  margin-right: 40px;
  cursor: pointer;
}
.tab-container .icon-c {
  width: 22px;
  background-image: url("../images/qunar/calander.png");
  background-repeat: no-repeat;
  background-position: -23px 1px;
  margin-left: -32px;
  cursor: pointer;
}
.tab-container .icon-d {
  background-image: url("../images/qunar/icon_a.png");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin-left: -32px;
  margin-right: 20px;
  border-left: 1px solid #eeeeee;
}
.tab-container .i-exchange {
  width: 23px;
  height: 56px;
  background-image: url("../images/qunar/home_v5.png");
  background-repeat: no-repeat;
  background-position: -141px 0;
  position: absolute;
  left: 265px;
  top: 30px;
  cursor: pointer;
}
.tab-container .span-commom {
  float: left;
  line-height: 25px;
}
.tab-container .div-search-links {
  overflow: hidden;
  *zoom: 1;
  line-height: 25px;
}
.tab-container .div-search-links .a-link {
  color: #999;
  padding-right: 6px;
  border-right: 1px solid #999999;
}
.tab-container .div-search-links .a-link:last-child {
  border: none;
}
.tab-container .div-cont-mult .input-start {
  width: 150px;
}
.tab-container .div-cont-mult .input-start-date {
  width: 180px;
}
.tab-container .div-cont-mult .span-tip-mul {
  margin-right: 4px;
}
.tab-container .div-cont-mult .span-search-btn {
  margin-right: 20px;
}
.tab-container label,
.tab-container input[type=radio] {
  cursor: pointer;
}
.tab-container .div-vocation-clsfy {
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.tab-container .div-vocation-clsfy .a-link {
  margin-left: 5px;
  margin-right: 5px;
}
.tab-container .div-tab-gp {
  margin-top: 20px;
  text-align: left;
  background-color: #f4fbfc;
  line-height: 50px;
  font-size: 13px;
}
.tab-container .div-tab-gp .span-commom {
  font-weight: bold;
  padding-right: 10px;
}
.tab-container .h3-et-tt {
  color: #00afd1;
}
.search-all {
  margin-top: 20px;
}
#search-hotel .div-cont-commom .input-aim,
#search-hotel .div-cont-commom .input-hotel,
#search-hotel .div-cont-commom .input-in-date,
#search-hotel .div-cont-commom .input-out-date {
  line-height: 35px;
  height: 35px;
  padding-right: 25px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 16px;
}
#search-hotel .div-cont-commom .input-aim {
  width: 240px;
  *width: 160px;
  padding-left: 45px;
  margin-left: -52px;
}
#search-hotel .div-cont-commom .input-hotel {
  width: 300px;
  *width: 270px;
  margin-left: -7px;
}
#search-hotel .div-cont-commom .input-in-date,
#search-hotel .div-cont-commom .input-out-date {
  width: 270px;
  *width: 180px;
  margin-left: -65px;
  padding-left: 58px;
}
#search-hotel .div-cont-commom .span-search-btn {
  margin-right: 20px;
}
#search-hotel .div-cont-commom .icon-s {
  margin-left: -30px;
  margin-right: 20px;
}
.discount .tab-pannel-t {
  border-bottom: 2px solid #00AFC7;
  line-height: 30px;
}
.discount .ul-tab {
  overflow: hidden;
}
.discount .li-tab {
  float: left;
  margin-bottom: 8px;
  font-size: 18px;
  padding: 0 10px;
  background-color: #ffffff;
  color: #3bb0d0;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
}
.discount .li-tab.active {
  background-color: #3bb0d0;
  color: #ffffff;
  border-bottom: none;
}
.discount .more {
  float: right;
  margin-bottom: 8px;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
  color: #666;
}
.discount .pro-link-a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #eeeeee;
  height: 240px;
  vertical-align: top;
  margin-right: 8px;
  width: 256px;
  overflow: hidden;
}
.discount .pro-first {
  width: 430px;
}
.discount .pro-show-p {
  height: 100%;
  overflow: hidden;
}
.discount .pro-show-pl {
  float: left;
}
.discount .pro-show-pl .pro-img {
  width: 262px;
  height: 240px;
}
.discount .pro-show-pr {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.discount .pro-show-pr .pro-title {
  line-height: 30px;
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  background-color: #3bb0d0;
  color: #ffffff;
  padding: 20px 6px;
  text-align: center;
}
.discount .pro-show-pr .pro-price {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: #FF5555;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  padding: 0 6px;
}
.discount .pro-show-pr .pro-describe {
  padding: 5px 6px;
  line-height: 24px;
  color: #555555;
  font-size: 14px;
}
.discount .pro-show-pt .pro-img {
  width: 256px;
  height: 144px;
}
.discount .pro-show-pb {
  line-height: 30px;
}
.discount .pro-show-pb .pro-title {
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  color: #333333;
  padding: 0px 6px;
}
.discount .pro-show-pb .pro-describe {
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999999;
  font-size: 13px;
}
.discount .pro-show-pb .pro-price {
  font-size: 18px;
  color: #FF5555;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  padding: 0 6px;
}
.discount .pro-row {
  margin-top: 16px;
}
.div-section .div-home-tt {
  line-height: 40px;
  font-family: 'Microsoft Yahei';
  color: #00afc7;
  font-size: 22px;
  border-bottom: 1px solid #00afc7;
  border-width: 2px;
}
.div-section .div-aside {
  width: 175px;
  float: left;
  line-height: 28px;
  margin-right: 20px;
}
.div-section .h3-aside-tt {
  font-size: 16px;
  color: #0286A0;
  background-color: #e2f3f8;
  padding-left: 10px;
}
.div-section .p-aside-bd {
  font-size: 13px;
  border: 1px solid #e2f3f8;
  margin-top: 0;
  padding: 5px 10px;
  word-break: keep-all;
}
.div-section .p-aside-bd .a-link {
  color: #666666;
}
.div-section .div-pro-show {
  overflow: hidden;
  *zoom: 1;
}
.div-section .li-pro-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 25px;
  border: 1px solid #eeeeee;
  margin-right: 10px;
  margin-bottom: 20px;
}
.div-section .fg-item {
  margin: 0;
  margin-bottom: 5px;
  position: relative;
}
.div-section .p-pro-tt {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  margin-left: -64px;
  width: 128px;
  line-height: 35px;
  background-color: #4c625f;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.div-section .st-from-to {
  color: #ffffff;
}
.div-section .st-from-desc {
  color: #ffde00;
}
.div-section .st-desc,
.div-section .span-older-price,
.div-section .span-now-price {
  padding-left: 10px;
  color: #000;
}
.div-section .span-older-price {
  color: #666;
  font-size: 13px;
}
.div-section .span-now-price {
  color: #FF5555;
}
.div-section .st-discnt {
  background-color: #ff5555;
  color: #ffffff;
  padding: 2px 4px;
  position: relative;
}
.div-section .st-discnt:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed dotted dashed solid;
  border-color: transparent transparent transparent #ff5555;
  font-family: 'Microsoft Yahei';
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  left: 100%;
  top: 6px;
  border-width: 3px;
}
.div-section .ins-now-pr {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}
.div-section .icon-hot-sale {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
  background-image: url("../images/qunar/home_v5.png");
  background-repeat: no-repeat;
  background-position: 0 -90px;
  text-align: center;
  font-family: 'Microsoft Yahei';
  color: #ffffff;
  font-size: 16px;
}
.div-other-link {
  background-color: #009fbe;
  height: 200px;
  zoom: 1;
}
.div-other-link .wrap:after {
  content: "";
  clear: both;
  display: block;
}
.div-other-link .div-img-l {
  width: 330px;
  height: 240px;
  float: left;
  background-image: url("../images/qunar/app_footer_v3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -39px;
  margin-left: 50px;
  position: relative;
}
.div-other-link .div-img-r {
  width: 330px;
  height: 240px;
  float: right;
  background-image: url("../images/qunar/app_footer_v3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-top: -39px;
  margin-right: 100px;
}
.div-other-link .a-download {
  position: absolute;
  width: 120px;
  height: 30px;
  bottom: 34px;
  left: 9px;
}
.div-foot-link {
  line-height: 25px;
  margin: 0 40px;
  font-size: 13px;
  clear: both;
  color: #ffffff;
  margin-bottom: 100px;
  zoom: 1;
}
.div-foot-link .a-link {
  color: #999999;
}
.div-foot-link .span-va-tt {
  color: #616161;
  padding-right: 5px;
}
