@import  "common.less";

/**
 * header 部分
 */
.h-b-head {
	.txtr;
	.pr(2px);
	.mt(4px);
	.mb(-5px);

	.h-b-forward {
		.color(#4C73C2);
		.fs(13px);
		.pr(10px);

		&.active {
			.fw;
		}
	}
	.triangle-down {
		.triangle-down(#4C73C2);
	}
}
.nav {
	.n-banner {
		.fr;
		width: 230px;
		height: 75px;
		.bgimg("../images/map-banner-1.jpg", 0 0);
	}
	.n-search {
		.ml(20px);
	}
}
.section {
	.s-container {
		.pa;
		width: 100%;
		top: 105px;
		left: 0px;
		bottom: 0px;
		user-select: none;
	}
	.s-navbar {
		.color(#999999);
		.ff;
		.fl;
		.bgcolor(#252525);
		width: 60px;
		height: 100%;
		.bt(#B5B9C0);
		.txtc;
		.pv;

		.fa {
			width: 28px;
			height: 28px;
			.inline-block;
		}
		.fa-search {
			.bgimg("../images/map-icon-2.png", -21px -163px);
		}
		.fa-route {
			.bgimg("../images/map-icon-2.png", -48px -163px);
		}
		.fa-subway {
			.bgimg("../images/map-icon-2.png", 5px -163px);
		}
		.fa-collect {
			.bgimg("../images/map-icon-2.png", -75px -163px);
		}
		.active {
			.bgcolor(#3385FF);
			.color(#fff);
		}
		.s-navbar-li {
			.pt(8px);
			.poi;
		}
		//样式清零
		.s-bar-ul:hover .s-navbar-li {
			.bgcolor(transparent);
			.color(#999999);
		}
		//样式添加
		.s-bar-ul .s-navbar-li:hover {
			.bgcolor(#3385FF);
			.color(#fff);
		}
		.s-bar-ul {
			height: 100%;
		}
		.s-bar-txt {
			.mt(-4px);
		}
	}
	.s-nav-tab {
		width: 350px;
		.fl;
		.bgcolor(#fff);
		height: 100%;
		.bt(#B5B9C0);
		.pv;
		.br(#A0A1A3);
	}
	.s-map {
		.bfc;
		.bgcolor(lightgreen);
		height: 100%;
		.bt(#B5B9C0);
	}
	.s-navbar-weather {
		.fs(12px);
		.pa;
		bottom: 0;
		left: 0;
		width: 100%;

		.fa-weather {
			.bgimgs("../images/map-weather-1.png", center center);
		}
	}
	.s-hide-bar {
		.pa;
		top: 50%;
		left: 409px;
		line-height: 58px;
		width: 15px;
		.bgcolor(#fff);
		.txtc;
		.poi;
		.b(#A0A1A3);
		.bl(transparent);
		.mt(-30px);

		.s-icon-left {
			.inline-block;
			width: 5px;
			height: 9px;
			.bgimg("../images/map-icon-2.png", -109px -167px);
		}
	}
	.act {
		left: 0;

		.s-icon-left {
			.bgimg("../images/map-icon-2.png", -139px -167px);
		}
	}
	.s-search-type {
		.p(15px 40px);
		.txtc;
		.bb(#ccc);
	}
	.s-search-colle {
		.inline-block;
		width: 25%;
		.ff;
		.fs(13px);

		.fa {
			width: 44px;
			height: 44px;
			.inline-block;
			.poi;
		}
		.fa-food {
			.bgimg("../images/map-search-1.png", 0 -262px);
		}
		.fa-hotel {
			.bgimg("../images/map-search-1.png", 0 -111px);
		}
		.fa-movie {
			.bgimg("../images/map-search-1.png", -47px -111px);
		}
	}
	.s-search-traffic {
		line-height: 55px;
		.fs(13px);
		.ff;
		.pl(20px);
		.bb(#F2F5F8);

		.fa {
			width: 24px;
			height: 24px;
			.inline-block;
			.vm;
			.pr(10px);
		}
		.fa-traffic-icon {
			.bgimg("../images/map-search-4.png", 0 0);
		}
		.fa-rest-icon {
			.bgimg("../images/map-search-3.png", 0 0);
		}
		.fa-service-icon {
			.bgimg("../images/map-search-2.png", 0 0);
		}
		.s-traffic-icon {
			.pl(10px);
			.poi;
		}
	}
	.s-search-baner1 {
		.bgimg("../images/map-banner-2.png", 0 -110px);
		width: 300px;
		height: 40px;
		.center;
	}
	.s-search-banner2 {
		.bgimg("../images/map-app-icon.png", 0 0);
		width: 300px;
		height: 100px;
		.center;
		.br(#CECED0);
	}
	.s-search-banner {
		.pa;
		bottom: 0px;
		width: 100%;
	}
	.s-search-footer {
		.color(#999999);
		.ff;
		.fs(12px);
		.txtc;
		line-height: 35px;
	}
	.s-banner2-btn {
		.inline-block;
		line-height: 25px;
		.fs(13px);
		.pa;
		.b(#ccc);
		.p(0 5px);
	}
	.btn-android {
		left: 140px;
		top: 105px;
	}
	.btn-iphone {
		left: 220px;
		top: 105px;
	}
	.s-search-forward {
		.color(#999999);
		.p(0 5px);
	}
	.purple {
		color: #a3a9c7;
	}
	.red {
		color: #ea8887;
	}
	.green {
		color: #a2c159;
	}
	.s-tab-route {
		.s-route-li {
			width: 20%;
			.inline-block;
			line-height: 30px;
		}
		.fa {
			width: 15px;
			height: 16px;
			.inline-block;
			.vm;
			.mr(5px);
			vertical-align: text-bottom;
		}
		.fa-bus {
			.bgimg("../images/map-search-1.png", 1px -192px);
		}
		.fa-car {
			.bgimg("../images/map-search-1.png", -29px -194px);
		}
		.fa-foot {
			.bgimg("../images/map-search-1.png", -102px -190px);
		}
		.fa-bike {
			.bgimg("../images/map-search-1.png", -85px -217px);
		}
		.active {
			.color(#3385FF);
			.fw;
			.fa-bus {
				.bgimg("../images/map-search-1.png", -14px -192px);
			}
			.fa-car {
				.bgimg("../images/map-search-1.png", -45px -194px);
			}
			.fa-foot {
				.bgimg("../images/map-search-1.png",-120px -190px);
			}
			.fa-bike {
				.bgimg("../images/map-search-1.png",-108px -217px);
			}
		}
		.s-route-nav {
			.txtc;
			.fs(12px);
			.ff;
			.bb(#A5C4FF);
		}
	}
}