@import (reference) "base.less";

.wrap {
	.ml(36px);
}
.section {
	.wrap {
		.pl(45px);
		width: 80%;
	}
}

/**
 * header
 */
.h-b-head {
	.txtr;
	.mr(30px);
	line-height: 30px;
	.color(#666666);

	.h-b-forward {
		.fs(13px);
		.color(#666666);

		&.active {
			.fw;
		}
	}
	.triangle-down {
		.triangle-down(#4C73C2);
		.vm;
	}
	.inner-a {
		color: #0084BB;
		.fs(13px);
		.pl(5px);
	}
}
.icon-eng {
	.inline-block;
	width: 19px;
	height: 13px;
	.vm;
	.bgimg("../images/qunar/ico_en.png", 0 0);
}
.icon-arrow-down {
	.inline-block;
	width: 6px;
	height: 6px;
	.vm;
	.bgimg("../images/qunar/header_new.png", -153px -21px);
}
.icon-message {
	.inline-block;
	width: 14px;
	height: 14px;
	.vm;
	.bgimg("../images/qunar/header.png", -28px -153px);
}

/**
 * nav
 */
.nav {
	.n-banner {
		.fl;
		width: 136px;
		height: 54px;
		.bgimg("../images/qunar/logo.png", 0 0);
		.ml(40px);
		.mt(-20px);
	}
	.n-catalog {
		line-height: 35px;
		.fs(17px);
		border-bottom: 2px solid #00afc7;
		.mt(4px);
	}
	.fsl {
		.fl;
		.ml(10px);
		.mr(10px);
		.ff;
		.fw;
		.color(#3C3C3C);
	}
	.active {
		a {
			color: #0096C3;
		}
	}
}

/**
 * 左边导航
 */
.nav-left-menu {
	z-index: 1;
	.pa;
	left: 0;
	top: 0;
	height: 100%;
	.bgcolor(#7C8994);

	.ul-items {
		.mt(20px);
	}
	.devide-line {
		.bt(#6F7982);
		.bb(#9BA4AD);
		.ml(5px);
		.mr(5px);
	}
	.li-item {
		width: 36px;
		.txtc;
		height: 50px;
		line-height: 20px;
		.fs(12px);
		color: #fff;
		.mt(15px);
		.mb(15px);
		.p(5px 0);
		.poi;
		.pv;

		.icon {
			width: 18px;
			height: 16px;
			.inline-block;
			.bgimg("../images/qunar/nav-left.png", 0 0);
			.vm;
		}
	}
	.nl-close {
		height: auto;

		.icon {
			background-position: -36px -96px;
			height: 15px;
			width: 14px;
		}
	}
	.nl-top {
		.icon {
			background-position: 0 -76px;
			height: 15px;
			width: 14px;
		}
	}
	.nl-usr {
		.mt(50px);
		height: auto;
		line-height: 40px;

		.icon {
			background-position: 0px 0px;
		}
	}
	.nl-mesg {
		.icon {
			background-position: 0px -16px;
			height: 12px;
		}
	}
	.nl-order {
		.icon {
			background-position: 0px -92px;
			height: 18px;
		}
	}
	.nl-account {
		.icon {
			background-position: 0px -28px;
		}
	}
	.nl-advice {
		.mt(80px);

		.icon {
			background-position: 0px -43px;
		}
	}
	.nl-swapcode {
		.icon {
			background-position: 0px -60px;
		}
	}
	.active {
		.bgcolor(#fff);
		.color(#7C8994);

		&.nl-close {
			.icon {
				background-position: -36px -96px;
			}
		}
		&.nl-usr {
			.icon {
				background-position: -18px 0px;
			}
		}
		&.nl-mesg {
			.icon {
				background-position: -18px -16px;
			}
		}
		&.nl-order {
			.icon {
				background-position: -18px -92px;
			}
		}
		&.nl-account {
			.icon {
				background-position: -18px -28px;
			}
		}
		&.nl-advice {
			.icon {
				background-position: -18px -43px;
			}
		}
		&.nl-swapcode {
			.icon {
				background-position: -18px -60px;
			}
		}
		&.nl-top {
			.icon {
				background-position: -18px -76px;
			}
		}
	}
	.nl-toggle {
		.icon {
			background-position: 0px 0px;
		}
	}
}
.discount {
	.tab-pannel-t {
		border-bottom: 2px solid #00AFC7;
		line-height: 30px;
	}
	.ul-tab {
		.ovh;
	}
	.li-tab {
		.fl;
		.mb(8px);
		.fs(18px);
		.p(0 10px);
		.bgcolor(#fff);
		.color(#3BB0D0);
		.ff;
		.fw;

		&.active {
			.bgcolor(#3BB0D0);
			.color(#fff);
		}
	}
	.more {
		.fr;
		.mb(8px);
		.fs(13px);
		.poi;
	}
	.pro-link-a {
		.inline-block;
		.b(#eee);
		height: 240px;
		.vt;
		.mr(8px);
		width: 256px;
		.ovh;
	}
	.pro-first {
		width: 430px;
	}
	.pro-show-p {
		height: 100%;
		.ovh;
	}
	.pro-show-pl {
		.fl;

		.pro-img {
			width: 262px;
			height: 240px;
		}
	}
	.pro-show-pr {
		.ovh;
		.pv;
		height: 100%;

		.pro-title {
			line-height: 30px;
			.fs(20px);
			.ff;
			.fw;
			.bgcolor(#3BB0D0);
			.color(#fff);
			.p(20px 6px);
			.txtc;
		}
		.pro-price {
			.pa;
			bottom: 8px;
			left: 0;
			width: 100%;
			.fs(18px);
			color: #FF5555;
			.ff;
			.fw;
			.p(0 6px);
		}
		.pro-describe {
			.p(5px 6px);
			line-height: 24px;
			color: #555555;
			.fs(14px);
		}
	}
	.pro-show-pt {
		.pro-img {
			width: 256px;
			height: 144px;
		}
	}
	.pro-show-pb {
		line-height: 30px;

		.pro-title {
			.fs(16px);
			.ff;
			.fw;
			.color(#333333);
			.p(0px 6px);
		}
		.pro-describe {
			width: 240px;
			.txto;
			color: #999999;
			.fs(13px);
		}
		.pro-price {
			.fs(18px);
			color: #FF5555;
			.ff;
			.fw;
			.p(0 6px);
		}
	}
	.pro-row {
		.mt(16px);
	}
}